    body {
        position: relative;
        margin: 20px;
        padding: 20pxs;
        border-radius: 5px;
        background-color: azure;
    }

    footer {
        margin-top: 20px;
        text-align: center;
    }

    h1 {
        background-image: url('https://media.istockphoto.com/id/1257525705/photo/the-changes-of-weather-a-natural-phenomenon-of-the-differences-of-four-seasons.jpg?s=612x612&w=0&k=20&c=pd2FEbZITpqphzEJ51FBQFexzniU0AZNJctpksrehYQ=');
       background-size:100% 100%;
        border: 3px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin-left: auto;
        margin-right: auto;
        color: black;
        font-weight: bold;
        border-radius: 5px;
        border-color: blue;
        border-style: solid;
    }

    h2 {
       
        background-color: blanchedalmond;
        text-align: center;
        margin-left: auto;
        padding: 10px;
        margin-right: auto;
        border: 2px;
        border-color: blue;
        border-style: solid;
        border-radius: 10px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }

     form {
        margin-top: 10px;
        padding: 10px;
        display: block;
        text-align: center;
    }

    
    .bord{
        background-color: aqua;
        border-style: solid;
        width: 800px;
        border-radius: 20px;
        border-color:blue;
        margin-left: auto;
        margin-right: auto;
        padding: 10px;
        border-width: 10px;
    }


    .search-form {
    
        position: relative;
        background-color: #ACC2D9;
        padding: 20 20 20 20;
        margin: 16 16 16 16;
    }

    .search-city {
        background-color: orangered;
        color: white;
    }
   
    .tab {
        display: table;
        margin-left: auto;
        margin-right: auto;
        width: 500px;

    }
   .row {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-content: center;
    align-items:center;
    border-radius: 5px;
    border-style: solid;
    border-color: blue;
   }

   .weekly-updates {
    
    background-color: blanchedalmond;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    align-content: center;
    align-items:center;
    border-radius: 5px;
    border-color: blue;
    border-style:solid;
    padding: 4px;
    font-weight: bolder;
    text-align: center;
   }
   
   .day:hover{
    flex: 1;
    background-color: aqua;
    transition: all 0.5s ease;
   }

    #city-input{
        width: 70%;
    }

    #temp-value{
        display: flex;
        text-align: center;
        justify-content: center;
    }

    #temperature-value{
        justify-content: space-around;
        padding: 5px;
    }
    #type {
            width: 60px;
            
            display:block;
            margin: 0 auto;
        }